body {
  background-image: url('./images/background.png');
  margin: 0;
}

header {
  color: white;
  display: flex;
  font-size: 40px;
  justify-content: center;
}

.title {
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  font-size: 40px;
  justify-content: center;
  margin: 20px 150px;
  padding: 15px;
}

.planets {
  display: flex;
  flex-wrap: wrap;
}

.planet-card img {
  width: 150px;
}

.planet-card {
  align-items: center;
  color: white;
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mission {
  border: 1px white solid;
  border-radius: 15px;
  color: white;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 300px;
  max-width: 300px;
  margin: 20px 30px;
}

.mission-name {
  border-bottom: 1px solid white;
  font-weight: 900;
  font-size: 25px;
  text-align: left;
  width: 100%;
}

.name {
  margin-left: 30px;
}

.mission-info {
  font-size: 16px;
  margin-left: 30px;
  text-align: left;
}

.mission-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}
